* {
	color: #121212;
}
t {
	text-transform: uppercase;
	font-size: 3em;
	font-family: "Segoe UI";
	font-weight: bold;
}
h1, p, .segoe {
	font-family: "Segoe UI";
}
body {
	background-color: #FAFAFA;
	margin: 15px;
}
.defcur {
	cursor: default;
}
#incrementButton {
	background-color: #6767ED;
	border-color: #7f7fc7;
	cursor: pointer;
}
button {
	outline: none;
}
button:hover {
	opacity: 0.88;
}
