* {
	color: #121212;
}
t {
	text-transform: uppercase;
	font-size: 3em;
	font-family: "Segoe UI";
	font-weight: bold;
}
h1, p, strong, .segoe {
	font-family: "Segoe UI";
}
body {
	background-color: #FAFAFA;
}
.defcur {
	cursor: default;
}
.tooltip {
	display: inline-block;
	border-bottom-style: dotted;
	cursor: help;
}
div.content {
	margin: 30px;
}
#incrementButton {
	background-color: #6767ED;
	border-color: #7f7fc7;
}
#cpButton {
	background-color: #AD67ED;
	border-color: #a87fc7;
}
button {
	outline: none;
	cursor: pointer;
}
button:hover {
	opacity: 0.88;
}
