* {
	color: #121212;
}
t {
	text-transform: uppercase;
	font-size: 3em;
	font-family: "Segoe UI";
	font-weight: bold;
}
h1, p, strong, .segoe, vtitle {
	font-family: "Segoe UI";
}
body {
	background-color: #FAFAFA;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	background-color: #dcdcdc;
	left: 0;
}
#footer p {
	margin: 0;
	text-align: center;
}
#footer a {
	color: #336dd7;
}
#footer a.danger {
	color: #d73333;
}
#credits h1 {
	margin: 1em 0 0 0;
}
#credits h1#start {
	margin: 0;
}
.defcur {
	cursor: default;
}
.tooltip {
	display: inline-block;
	border-bottom-style: dotted;
	cursor: help;
}
div.content {
	margin: 30px;
}
#incrementButton {
	background-color: #6767ED;
	border-color: #7f7fc7;
}
.help {
	cursor: help;
}
#cpButton, #cursorShop {
	background-color: #AD67ED;
	border-color: #a87fc7;
}
#cursorShop {
	position: absolute;
}
vtitle {
	font-weight: bold;
	display: inline-block;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	cursor: help;
	font-size: 0.9em;
}
button {
	outline: none;
	cursor: pointer;
}
button:hover {
	opacity: 0.88;
}
button:disabled {
	cursor: default;
	opacity: 0.5;
}
