* {
	color: #121212;
	font-family: "Segoe UI";
}
.content {
	margin: 65px;
}
t {
	text-transform: uppercase;
	font-size: 3em;
	font-family: "Segoe UI";
	font-weight: bold;
}
body {
	background-color: #FAFAFA;
}
a {
	color: #0000d0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #4747eb;
}
a:active {
	color: limegreen;
}