html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	background-color: #45b35c;
}
h1, h2, p, a, strong, .segoe {
	font-family: "Segoe UI";
}
* {
	box-sizing: border-box;
	user-select: none;
}

div#top {
	background-color: #212121;
	top: 0;
	left: 0;
	width: 100%;
	height: 110px;
	user-select: none;
}
div#top p {
	color: #F4F4F4;
	text-align: center;
	margin: 0 150px;
	transform: translate(0, 100%);
	font-family: "Bahnschrift";
}
p#coinsp {
	font-size: 3em;
	transform: translate(0, 30%) !important;
}

div#biomebar {
	background-color: #45b35c;
	left: 0;
	width: 100%;
	height: 30px;
	filter: brightness(95%);
}
div#biomebar p {
	color: #F4F4F4;
	text-align: center;
	margin: 0 125px;
	transform: translate(0, 15%);
}

.button {
	background-color: #212121;
	color: #F4F4F4;
	border: solid #F4F4F4;
	border-radius: 22.2222%;
	transition: 0.3s;
	cursor: pointer;
}
button:hover {
	color: #212121;
	background-color: #F4F4F4;
}
button:active {
	background-color: #e7e7e7;
}

.biomebar-button {
	position: absolute;
}