div#settings {
	width: 100%;
    height: 100%;
    background-color: #DADADA;
    position: absolute;
    z-index: 9999;
    top: 0;
	transition: .5s;
	padding: 30px;
}

button#settings-button {
	top: 10px;
}
button#settings-button, button#close-settings-button {
	position: absolute;
	width: 90px;
	height: 90px;
	font-size: 3em;
	right: 10px;
}
button#close-settings-button {
	left: 0px;
}