/* main: stuff that makes the page look good */
body {
	margin: 0;
}
p, a, strong, .segoe {
	font-family: "Segoe UI";
}
/* main */

/* header: everything about the header */
#top {
	background-color: #202124;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
}
#top p {
	color: #F4F4F4;
	text-align: center;
	margin: 0;
	transform: translate(0, 100%);
	font-family: "Bahnschrift";
}
#coinparagraph {
	font-size: 3em;
	transform: translate(0, 30%) !important;
}
#biomebar {
	background-color: #277b39;
	left: 0;
	width: 100%;
	height: 40px;
}
#biomebar p {
	color: #F4F4F4;
	text-align: center;
	margin: 0;
	transform: translate(0, 100%);
}
/* header */
