t {
	text-transform: uppercase;
	font-size: 3em;
	font-family: "Segoe UI";
	font-weight: bold;
}
h1, p, .segoe {
	font-family: "Segoe UI";
}
.content {
	border: solid 2px;
	box-shadow: 0 0 10px 2px black;
}
#top {
	top: 0px;
	width: 100%;
	height: 100px;
}
#page {
	margin: 125px;
	width: 67%;
	minheight: 700px;
}
#links {
	position: absolute;
	right: 0px;
	margin-top: 125px;
	margin-bottom: 125px;
	width: 200px;
	height: 200px;
	top: 104px;
}
