* {
	box-sizing: border-box;
}
t {
	font-size: 3em;
	font-family: "Segoe UI";
}
h1, p, a, cat, strong, .segoe {
	font-family: "Segoe UI";
}
p {
	margin-block-end: 0.5em;
	margin-block-start: 0;
}
a {
	color: #0000d0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #4747eb;
}
a:active {
	color: limegreen;
}
body {
	margin: 0;
}
cat {
	display: block;
	margin: 50px 0 0.75em 0;
	bottom: 0;
	position: absolute;
}
.content {
	border: solid 2px;
	background-color: #FAFAFA;
}
.shadow {
	box-shadow: 0 0 10px 2px black;
}
#top {
	top: 0px;
	width: 100%;
	height: 104px;
}
#page {
	margin: 100px;
	width: 70%;
	min-height: 50em;
}
#article {
	top: 19em;
	position: absolute;
	width: inherit;
	min-height: 45.5em;
	padding: 0.75em;
}
#links {
	position: absolute;
	right: 0px;
	margin-top: 125px;
	margin-bottom: 125px;
	width: 200px;
	height: 200px;
	top: 179px;
	padding: 20px;
}
t#linktext {
	top: -75px;
	position: absolute;
}
#logo {
	height: 100%;
	width: 150px;
	border-right: solid 2px black;
}
#logo:hover {
	filter: brightness(110%);
}
#logo:active {
	filter: brightness(85%);
}
#searching {
	position: absolute;
	left: 25%;
	top: 42px;
}
#search {
	margin-right: 5px;
	border: inset 2px lightgray;
	border-radius: 5px;
	outline: 0;
}
