* {
	box-sizing: border-box;
	font-family: "Segoe UI";
}
p {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}
table {
	width: 100%;
	height: 100%;
}
#blocklyArea {
	height: 99%;
}
html, body {
	height: 100%;
	margin: 0;
}
body {
	overflow: hidden;
}
#blocklyArea {
	height: 99%;
	background: #fc9;
	text-align: center;
}
