body {
	background-image: url("bg/main.png");
}
.ui {
	opacity: 90%;
}
#leftSidebar {
	position: absolute;
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: gray;
}
#mainGame {
	position: absolute;
	margin: auto;
	width: 70%;
	height: 100%;
	left: 15%;
	top: 0px;
	background-color: #FAFAFA;
}
#rightSidebar {
	position: absolute;
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	background-color: gray;
}
