div#pick-zone {
	width: 100%;
	transform: translateY(32px);
}
div#pick-zone > * {
	position: absolute;
}
span#picked-zone {
	user-select: none;
	font-size: 2em;
	left: 50%;
	transform: translateX(calc(-50% + 6px));
	background-color: #00000025;
	padding: 6px;
	padding-top: 4px;
}
div#pick-zone > div {
	width: 48px;
	height: 48px;
	left: 50%;
	transform: translateX(var(--offset));
}
button#select-zone, button#go-to-area-info {
	background-image: url(../media/area\ button.png);
	border: solid 5px black;
	height: 10vh;
	position: absolute;
	left: 50%;
	background-size: 100% 100%;
	font-size: 2em;
}
button#select-zone {
	width: 30vw;
	transform: translate(calc(-50% + 6px), 64px);
}
button#go-to-area-info {
	width: calc(100% - 64px);
	bottom: 32px;
	transform: translateX(-50%);
}