div#toggle-spawn {
	border: solid #010101;
	border-radius: 5px;
	width: 100px;
	height: 100px;
	background-color: #f31515;
	position: absolute;
	top: 25px;
	right: 25px;
}

img#toggle-spawn-img {
	width: 100%;
	height: 100%;
}
img#toggle-spawn-img:hover {
	filter: brightness(110%);
}
img#toggle-spawn-img:active {
	filter: brightness(80%);
}

div#enemy-field {
	width: 90%;
	height: calc(95% - 150px);
	position: absolute;
	top: 150px;
	left: 5%;
	background-color: #00000014;
}