div#toggle-spawn {
	border: solid #010101;
	border-radius: 5px;
	width: 100px;
	height: 100px;
	background-color: #f31515;
	position: absolute;
	top: 25px;
	right: 25px;
}
p#spawner-tutorial-thingy {
	position: absolute;
	top: 50px;
	right: 150px;
	transform: translateY(-50%);
	font-size: 1.5em;
}

img#toggle-spawn-img, div.enemy img {
	width: 100%;
	height: 100%;
}


div#enemy-field-visible {
	width: 90%;
	height: calc(95% - 150px);
	position: absolute;
	top: 150px;
	left: 5%;
	background-color: #00000020;
}
div#enemy-field {
	width: calc(100% - 96px);
	height: calc(100% - 96px);
	position: absolute;
}

div.enemy {
	width: 96px;
	height: 96px;
	position: absolute;
}

div#enemy-top {
	position: absolute;
	top: 0;
	right: 0;
	height: 100px;
}



/* battle */
div#battle-player {
	position: absolute;
	top: 30%;
	left: calc(20% - 64px);
	width: 256px;
}
div#battle-enemy {
	position: absolute;
	top: 30%;
	right: calc(20% - 64px);
	width: 256px;
}

img#battle-player-img {
	transform: translateX(64px);
}
img#battle-enemy-img {
	transform: translateX(64px);
}

p#battle-player-decrease, p#battle-enemy-decrease {
	position: absolute;
	transform: translate(calc(128px - 50%), -1em);
}