html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	overflow: hidden;
}

.section {
	position: absolute;
	margin: auto;
	width: 85%;
	left: 15%;
	top: 0px;
	height: 100%;
}
.subsection {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
}
img#bg {
	width: 100vw;
	height: 100vh;
}

div#left {
	left: 0px;
}
div.side {
	position: absolute;
	width: 15%;
	height: 100%;
	top: 0px;
	background-color: rgba(128, 128, 128, 0.329);
	padding: 0 1%;
}

.icon {
	width: 32px;
	height: 32px;
	transform: translateY(10.5px);
	display: inline;
}

.back, .next, .forfeit {
	position: absolute;
	width: 64px;
	height: 64px;
	transform: translate(32px, 32px);
}
.back {
	background-image: url(../media/back.png);
}
.next {
	background-image: url(../media/next.png);
}
.forfeit {
	background-image: url(../media/forfeit.png);
}
.back:hover, .next:hover, .forfeit:hover {
	filter: brightness(110%);
}
.back:active, .next:active, .forfeit:active {
	width: 60px;
	height: 60px;
	filter: brightness(80%);
	transform: translate(34px, 34px);
}


p#battle-title, p#battle-result {
	font-size: 600%;
}
p#battle-title, p.battle-stat, p#battle-result {
	display: block;
	text-align: center;
	font-family: monospace;
	margin: 0;
}
p.battle-stat {
	font-size: 200%;
}
div#battle-end {
	top: calc(30% + 150px + 8em);
	position: absolute;
	width: 100%;
	height: 10%;
}
p.battle-stat span {
	font-family: monospace;
}

.nomargin {
	margin: 0;
}

/* clickables */
img#toggle-spawn-img:hover, div.enemy:hover, button#collect-rbu:hover, button#buy-rbs:hover, button#buy-rb:hover, div.buff:hover,
button#select-zone:hover, button#go-to-area-info:hover {
	filter: brightness(110%);
}
img#toggle-spawn-img:active, div.enemy:active, button#collect-rbu:active, button#buy-rbs:active, button#buy-rb:active, div.buff:active,
div#first-rb:active, div#prev-rb:active, div#next-rb:active, div#last-rb:active, .consumable-item:active,
div#first-zone:active, div#prev-zone:active, div#next-zone:active, div#last-zone:active, button#select-zone:active,
button#go-to-area-info:active {
	filter: brightness(80%) !important;
}

div#first-rb:hover, div#prev-rb:hover, div#next-rb:hover, div#last-rb:hover, .consumable-item:hover,
div#first-zone:hover, div#prev-zone:hover, div#next-zone:hover, div#last-zone:hover {
	filter: brightness(120%);
}

.notrsf {
	transform: none !important;
}

.consumable-item {
	border: solid #010101;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background-color: #00000025;
	position: absolute;
	background-size: 45px;
}
.consumable-count {
	position: absolute;
	user-select: none;
	width: 500px;
}

div#first-rb, div#first-zone {
	background-image: url(../media/double\ left\ arrow.png);
	transform: translateX(-250%);
	--offset: -250%;
}
div#prev-rb, div#prev-zone {
	background-image: url(../media/left\ arrow.png);
	transform: translateX(-175%);
	--offset: -175%;
}
div#next-rb, div#next-zone {
	background-image: url(../media/right\ arrow.png);
	transform: translateX(75%);
	--offset: 75%;
}
div#last-rb, div#last-zone {
	background-image: url(../media/double\ right\ arrow.png);
	transform: translateX(150%);
	--offset: 150%;
}

a#info-hub {
	position: absolute;
	bottom: 1%;
	color: hsl(0, 55%, 26%);
}
a#info-hub:hover {
	color: hsl(0, 55%, 36%);
}
a#info-hub:active {
	color: hsl(0, 55%, 16%);
}

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	transition: 0.1s;
}


/* consumable positioning */

#use-squarespawn {
	top: 50px;
	right: 150px;
	background-image: url('../media/items/squarespawn.png');
}
#use-rburecharge {
	right: calc(35vw - 10% - 50px);
	background-image: url('../media/items/rburecharge.png');
	transform: translateY(calc(5vh - 25px));
}
#e-consumable-count {
	top: 100px;
	right: 150px;
	text-align: right;
}
#r-consumable-count {
	transform: translateY(calc(10vh));
    text-align: right;
    width: 30vw;
    left: calc(35vw - 8.888%);
}