.tile {
	width: 22.5vh;
	height: 22.5vh;
	position: absolute;
	--bg: url(../media/tiles/test.png);
	background-image: var(--bg);
	background-size: 22.5vh;
}
.tile-locked {
	filter: grayscale(100%);
	opacity: 0.35;
	cursor: not-allowed;
}

.tile:not(.tile-locked):hover {
	filter: brightness(110%);
}
.tile:not(.tile-locked):active {
	width: 22.1005917vh;
	height: 22.1005917vh;
	filter: brightness(80%);
	transform: translate(0.399408284vh, 0.399408284vh);
}

#tile-enemy {
	left: 11.25vw;
	top: 20vh;
	--bg: url(../media/tiles/enemy.png);
}

#tile-area {
	left: 11.25vw;
	bottom: 20vh;
	--bg: url(../media/tiles/area.png);
}

#tile-shop {
	left: calc(11.25vw * 2.75);
	top: 20vh;
	--bg: url(../media/tiles/shop.png);
}

#tile-rbu {
	left: calc(11.25vw * 2.75);
	bottom: 20vh;
	--bg: url(../media/tiles/rbu.png);
}

p.section-title {
	font-size: 4em;
	text-align: center;
}
p.section-subtitle {
	font-size: 1.5em;
    text-align: center;
    margin: 0;
    transform: translateY(-2em);
}