button#collect-rbu, button#buy-rbs, button#buy-rb {
	background-image: url(../media/rbu\ button.png);
    border: solid 5px black;
    width: 30vw;
    height: 10vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-size: 100% 100%;
	font-size: 2em;
}
button#buy-rbs {
	bottom: 5vh;
	height: 12.5vw;
}
button#collect-rbu:disabled, button#buy-rbs:disabled {
	filter: grayscale(100%);
}

div#selected-rb, div#first-rb, div#prev-rb, div#next-rb, div#last-rb {
	width: 48px;
	height: 48px;
	background-size: 64px;
	background-position: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
div#selected-rb {
	width: 64px;
	height: 64px;
	background-position: 0;
	transform: translate(-50%, -6px);
}
div#first-rb {
	background-image: url(../media/double\ left\ arrow.png);
	transform: translateX(-250%);
}
div#prev-rb {
	background-image: url(../media/left\ arrow.png);
	transform: translateX(-175%);
}
div#next-rb {
	background-image: url(../media/right\ arrow.png);
	transform: translateX(75%);
}
div#last-rb {
	background-image: url(../media/double\ right\ arrow.png);
	transform: translateX(150%);
}

button#buy-rb {
	transform: translate(-50%, 10vh)
}

div.buff, img.buffimg {
	width: 64px;
	height: 64px;
	image-rendering: pixelated;
}
div#bonuses {
	width: 100%;
	height: 64px;
	display: flex;
    justify-content: center;
}