div#items {
	width: 90%;
    height: calc(95% - 16em);
    transform: translate(5%, 10%);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow: overlay;
	column-gap: 1vh;
	row-gap: 1vh;
	user-select: none;
}
div.item {
	width: 100%;
	height: 10%;
	background-color: #00000025;
	display: flex;
	align-items: center;
}
div.item:hover {
	background-color: #00000020;
}
div.item:active {
	background-color: #00000030;
}
div.item.expensive {
	background-color: #ff008025;
}
div.item.expensive:hover {
	background-color: #ff008020;
}
div.item.expensive:active {
	background-color: #ff008030;
}
img.item-img {
	height: 100%;
}
p.item-title, p.item-cost-text {
	margin-right: 20px;
}
div.item-right {
	position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    width: 100px;
    align-content: stretch;
}
img.item-img, img.item-cost-img {
	margin-right: 10px;
}
p.item-cost-text {
	transform: translateY(-2px);
}
p.item-owned {
	background-color: #00000025;
	padding: 6px;
	padding-top: 4px;
}

div#items::-webkit-scrollbar {
	width: 20px;
}
div#items::-webkit-scrollbar-track {
	background-color: #00000025;
}
div#items::-webkit-scrollbar-thumb {
	background-color: #00000025;
}
div#items::-webkit-scrollbar-thumb:hover {
	background-color: #00000015;
}
div#items::-webkit-scrollbar-thumb:active {
	background-color: #00000035;
}