button {
	color: var(--white);
	width: 150px;
	height: 100px;
	font-weight: bold;
	font-size: 1.5em;
	background-color: black;
	border: solid var(--white) 5px;
	border-radius: 10px;
	line-height: 1em;
}
button.tab-button {
	min-height: 50px;
	height: 90%;
}
button:hover:not(:disabled) {
	background-color: var(--white-hover);
}
button:active:not(:disabled) {
	background-color: var(--white-active);
}
button:disabled {
	color: var(--white-disabled-border);
	border-color: var(--white-disabled-border);
	background-color: var(--white-disabled);
}

button.red {
	color: var(--red);
	border-color: var(--red);
}
button.red:hover:not(:disabled) {
	background-color: var(--red-hover);
}
button.red:active:not(:disabled) {
	background-color: var(--red-active);
}
button.red:disabled {
	color: var(--red-disabled-border);
	border-color: var(--red-disabled-border);
	background-color: var(--red-disabled);
}

button.short  { width: 100px;  }
button.swide  { width: 175px;  }
button.wide   { width: 200px;  }
button.xwide  { width: 250px;  }
button.xxwide { width: 300px;  }
button.low    { height: 75px;  }
button.stall  { height: 125px; }
button.tall   { height: 150px; }
button.xtall  { height: 200px; }
button.xxtall { height: 250px; }
button.small { font-size: 1em; }
button.big   { font-size: 2em; }