* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: 0.02s;
	user-select: none;
}
html, body {
	margin: 0;
	background-color: black;
	height: 100%;
}

div#top {
	height: 28%;
	border-bottom: solid 7px white;
}
div#currency-container {
	height: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
}
div#tab-container {
	height: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
}
div#subtab-container {
	height: 9.491%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.letter-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: translateY(-10%);
}
span.letter-icon {
	font-size: 10vh;
	height: 10vh;
	font-family: 'Bahnschrift', sans-serif;
	opacity: 0.9;
}
span.letter-count {
	font-size: 4vh;
	height: 4vh;
	font-family: 'Bahnschrift', sans-serif;
	color: white;
}
span.letter-ps {
	font-size: 2vh;
	height: 2vh;
	font-family: 'Bahnschrift', sans-serif;
	color: #999;
}

div.subtab {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}