:root {
	--white: hsl(0, 0%, 100%);
	--white-hover: hsl(0, 0%, 13%);
	--white-active: hsl(0, 0%, 40%);
	--white-disabled: hsl(0, 0%, 60%);

	--red: hsl(2, 55%, 52%);
	--red-hover: hsl(2, 55%, 15%);
	--red-active: hsl(2, 55%, 30%);
	--red-disabled: hsl(2, 55%, 30%);
}